<html>
<head>
	<title> stegAsaurus | sneaky messages </title>

	<!-- JQUERY -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <!-- Dropbox lib -->
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="vl7j0br3qthqq7i"></script>

        <!-- Spinner -->
        <script type="text/javascript" src="static/spin.min.js"></script>

	<!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700|Alegreya+Sans+SC:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

	<!-- LESS -->
	<link rel="stylesheet/less" type="text/css" href="static/steg.less"/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.1/less.min.js"></script>

	<!--  LOCAL CSS, JS -->
	<!-- <link rel="stylesheet" href="static/steg.css" /> -->
	<script type="text/javascript" src="static/steg.js"></script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-static-top navbar-inverse" role="navigation">
    <div class="navbar-header">
	    <a class="navbar-brand" id="brand" href="#">steg<b>A</b>saurus</a>
	    <p class="navbar-text">(a picture is worth 2^N words)</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<!-- <p class="navbar-text">Mode: </p> -->
		<li class="active" id="encode-mode"><a href="#what" data-toggle="tab">about</a></li>
		<li id="encode-mode"><a href="#encode-panel" data-toggle="tab">encode</a></li>
		<li id="decode-mode"><a href="#decode-panel" data-toggle="tab">decode</a></li>
		<li><a href="#"></a></li>
    </ul>
</nav>

<div class="tab-content">
	<div id="what" class="row tab-pane fade in active">
		<h1>What is stegAsaurus? <small>(we spelled it that way on purpose!)</small></h1>
		<h4><b>stegAsaurus</b> is a service to quickly and easily share steganographically encoded messages over Dropbox. 
		<br><br>
		<a href="//en.wikipedia.org/wiki/Steganography">Steganography</a> is the practice of hiding text in images. The bytes comprising the payload image are modulated to hide the message in question. 
		<br><br>
		In <b>encode</b> mode, select an image from your Dropbox account, provide a message to conceal, and drop the resultant back image in your Dropbox account.
		<br><br>
		In <b>decode</b> mode, simply drop a Dropbox URL for a steganographic image and recover the message.
		<br><br>
		<b>stegAsaurus</b> is powered by <a href="http://domnit.org/stepic/doc/">stepic</a> and <a href="http://flask.pocoo.org/">flask</a>.
		</h4>
	</div>
	<div id="encode-panel" class="row tab-pane fade">
		<div class="row">
			<div id="text-wrapper" class="col-xs-6">
			  <h1>Message to Encode <small id="len">(length: 0)</small></h1>
			  <textarea id="message" class="form-control" rows="10"></textarea>
			</div>
			<div id="image-wrapper" class="col-xs-6">
				<h1>Image Payload</h1>
			</div>
	  	</div>
		<div class="row">
			<div class="col-xs-4 col-md-4"></div>
				<div class="col-xs-4 col-md-4 btn-group" id="encode-buttons">
				<ul class="nav nav-pills" id="encode-workflow">
					<li id="load-button" class="active"><a href="#">Load</a></li>
					<li class="chev"> <span class="glyphicon glyphicon-chevron-right"></span> </li>
					<li id="encode-button" class="disabled"> <a href="#">Encode</a></li>
					<li class="chev"> <span class="glyphicon glyphicon-chevron-right"></span> </li>
					<li id="save-button" class="disabled"> <a href="#">Save</a></li>
                </ul>
            	</div>
			<div class="col-xs-4 col-md-4"></div>
		</div>
	</div>

	<div id="decode-panel" class="row tab-pane fade">
		<!-- <h1>Image to Decode <small>(from Dropbox)</small></h1> -->
		<div class="row">
			<div id="text-wrapper" class="col-xs-6">
			  <h1>Image to Decode </h1>
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="encoded-image-url">Encoded Image URL</label>
				    <input type="url" class="form-control" id="encoded-image-url" placeholder="Enter URL here">
				  </div>
				  <button type="button" class="btn btn-default btn-lg" id="decode-submit">Decode</button>
				</form>

			</div>
			<div id="image-wrapper" class="col-xs-6">
				<h1> Decoded Message </h1>
			  <textarea id="decoded-message" class="form-control" rows="10"></textarea>
			</div>
	  	</div>
	</div>
</div>

<nav id="credits" class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
	<p class="navbar-text">
		satej soman | adam midvidy | sam kirschner | zach hargreaves
	</p>
</nav>


</body>
</html>
